/* Header */
#matches h1,
#matches h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: white;
  text-align: left;
  padding: 2rem 2rem;
  margin: 0 1rem;
  border-radius: 10px;
}

/* End */

/* Matches */

#matches {
  background: linear-gradient(180deg, #1a1a1a 0%, #0d0d0d 100%);
  height: 100vh;
  padding-top: 2rem;
}

.matches-container {
  background: linear-gradient(90deg, #2a0845, #6441a5);
  padding: 2rem 2rem;
  margin: 0.5rem 1rem;
}

.matches-container .btn {
  transition: background-color 0.25s ease, transform 0.2s ease-in-out;
}

.matches-container .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(0.95);
  cursor: pointer;
}

.btn-check:checked + label {
  background-color: #007bff !important;
  color: white !important;
  transform: scale(0.95);
}

.upper-matches {
  background: linear-gradient(90deg, #2a0845, #6441a5);
  display: flex;
  margin: 0 1rem;
  border-radius: 8px;
  gap: 68rem;
  align-items: center;
}

.drpdwn {
  background-color: transparent;
  height: 100%;
  font-size: larger;
  color: white;
  padding: 6px;
  border-radius: 4px;
  border: none;
  appearance: none;
  transition: 0.3s ease-in-out;
}

.drpdwn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.drpdwn:focus {
  outline: none;
  box-shadow: none;
}

.drpdwn option {
  background-color: #283c50;
  color: white;
}

.match-card {
  color: white;
}

#matches-list {
  height: 55vh;
  overflow-y: auto;
  background: linear-gradient(90deg, #2a0845, #6441a5);
  margin: 0 1rem;
}

#matches-list a{
  text-decoration: none;
}

.match-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  color: white;
  font-family: "Bebas Neue", sans-serif;
}

.match-left {
  width: 120px;
  text-align: left;
}

.match-left .date {
  font-size: 20px;
  opacity: 0.9;
}

.match-left .status {
  font-size: 18px;
  opacity: 0.7;
}

.match-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  gap: 40px;
  padding-bottom: 15px;
}
.match-center .club {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  gap: 10px;
  text-align: center;
}

.match-center .club:first-child {
  justify-content: flex-end;
}

.match-center .club:last-child {
  justify-content: flex-start;
}

.match-center .team {
  display: flex;
  align-items: center;
  gap: 10px;
}

.match-center img {
  width: 36px;
  height: 36px;
}

.match-center .vs {
  width: 40px;
  text-align: center;
  font-size: 22px;
}

.match-center .name {
  font-size: 20px;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.match-center .score {
  font-size: 28px;
  font-weight: bold;
}

.match-right {
  width: 200px;
  text-align: right;
}

.match-right .stadium {
  font-size: 16px;
  opacity: 0.8;
}

.match-card:hover {
  background: #3b0048;
  cursor: pointer;
  transition: 0.2s;
}
