* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: #e2e8f0;
}

.ticket-form-container {
  margin-top: 5rem;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 2rem;
}

/* Left item (match-card) */
.match-card {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 15px;
  object-fit: contain;
  overflow: hidden;
  border: 1px solid rgba(148, 163, 184, 0.15);
  box-shadow: 0 6px 20px rgba(102, 126, 234, 0.2);
}

.match-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 40%;
  background: var(--primary-color);
  z-index: -1;
}

.match-card::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 40%;
  background: var(--secondary-color);
  z-index: -1;
}

.logo {
  height: 70px;
  width: auto;
  object-fit: contain;
}

.match-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.team-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  text-align: center;
}

.team-box span {
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 3px #0000005e, 0 0 6px #00000068, 0 0 10px #0000005c;
}

.match-time {
  display: inline;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin: 0 36px;
  background: #475569;
  color: white;
  font-weight: bolder;
  font-size: larger;
}

.match-detail {
  position: relative;
  background: #1e293b;
  border-radius: 16px;
  text-align: center;
  padding: 2rem 8px 2.8rem 8px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.match-detail p {
  color: #ddd;
  font-size: 1.125rem;
  margin: 1px;
}

.match-detail a {
  display: block;
  margin-top: 20px;
  background: #334155;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #93c5fd;
  font-weight: 500;
  transition: 0.3s ease;
}

.match-detail a:hover {
  transform: scale(1.01);
  color: rgba(255, 255, 255, 1);
}

/* Right item (form) */
.right-items {
  position: relative;
  background: #1e293b;
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid rgba(148, 163, 184, 0.15);
  box-shadow: 0 6px 20px rgba(102, 126, 234, 0.2);
}

.form-title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 18px;
  color: #fff;
}

.form-group input,
.form-group select {
  width: 100%;
  background: #0f172a;
  border: 1px solid #334155;
  padding: 12px;
  border-radius: 12px;
  color: white;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #ffffff;
}

.form-group input::placeholder {
  color: #c9c9c9;
}

.btn-back {
  position: absolute;
  top: 35px;
  right: 35px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  padding: 0.3rem 1rem;
  background: linear-gradient(135deg, #26217f, #3b82f6);
  transition: 0.3s ease-in-out;
}

.btn-back:hover {
  opacity: 0.9;
}

.total-box {
  background: #0f172a;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.total-box p {
  margin: 0;
  opacity: 0.8;
}

.total-box span {
  font-size: 19px;
  font-weight: 700;
}

.btn-pay {
  width: 100%;
  padding: 14px;
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  background: linear-gradient(135deg, #26217f, #3b82f6);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-pay:hover {
  transform: scale(1.03);
  opacity: 0.95;
}
