body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: #0f1419 !important;
  background-attachment: fixed;
  min-height: 100vh;
}

#main-ticket {
  padding: 2rem 2rem 0 1rem;
  margin-top: 8rem;
}

/* Search bar */
.search-container {
  position: relative;
  width: 100%;
  padding: 0 2rem 1rem 1rem;
}

#search {
  width: 100%;
  padding: 10px 14px;
  border-radius: 16px;
  border: 1px solid #4438ca86;
  background: #111827;
  color: white;
}

#search:focus {
  border-color: #6366f1;
  outline: none;
}

.filter-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 1rem 2rem 2rem;
  margin-top: 1rem;
  background-color: #111827;
  border-radius: 20px;
  border: 1px solid #4438ca86;
}

.filter-container .left {
  margin: auto 0;
}

.filter-container .left span {
  color: #ffffff;
}

.filter-container .right {
  display: flex;
  gap: 20px;
}

.filter-container .right button {
  padding: 1rem 2rem;
  border-radius: 12px;
  background: #1f2937;
  border: none;
  color: #d1d5db;
  cursor: pointer;
  transition: all 0.3 ease;
}

.filter-container .right button:hover {
  transform: scale(0.99);
}

.filter-container .right button.active {
  background: #4f46e5;
  color: #ffff;
}

.match-card {
  padding: 0;
  margin: 1rem 2rem 5rem 1rem !important;
  opacity: 0;
  height: 300px !important;
  transform: translateY(15px);
  background: #1a1f2e;
  overflow: hidden;
  border-radius: 20px !important;
  border: 0.5px solid #4438ca86 !important;
  box-shadow: 0 12px 40px rgba(102, 126, 234, 0.2);
}

.match-card.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.35s ease-out, transform 0.35s ease-out,
    scale 0.4s ease-in;
}

.ticket-card {
  color: #ffff;
  padding-bottom: 1rem;
  display: flex;
  gap: 16px;
  height: 100%;
  align-items: center;
  transition: 0.3s ease;
  background: #1a1f2e;
}

/* Thumbnail kiri */
.thumbnail {
  position: relative;
  width: 320px;
  height: 280px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.thumbnail-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.logo-blur-left,
.logo-blur-right {
  height: 100px;
  width: auto;
  object-fit: contain;
  z-index: 10;
}

.vs {
  font-size: 48px;
  font-weight: bold;
  opacity: 0.9;
  color: white;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.date-badge {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #22c55e;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

/* Info tiket */
.ticket-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 95%;
  width: 80%;
  padding: 1rem;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem 0 0;
}

.stok-display {
  font-size: 1rem;
  color: #93c5fd; /* biru soft */
}

.ticket-info h3 {
  margin-bottom: 10px;
  font-size: 1.75rem;
  font-weight: 700;
}

.ticket-info span {
  font-size: 1.125rem;
  opacity: 1;
}

.ticket-info svg {
  margin-right: 5px;
}

.buy-btn {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 8px;
  padding: 8px 14px;
  background: #4f46e5;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  width: 100%;
  transition: 0.25s ease;
  box-shadow: 0 0 8px rgba(16, 16, 16, 0.45);
}

.buy-btn:hover {
  background: #4338ca;
  transform: scale(0.99);
  box-shadow: 0 0 12px rgba(25, 24, 24, 0.6);
}

.match-card .buy-btn.soldout {
  background: #1f2937;
  color: #6b7280;
}

.match-card.soldout .date-badge {
  background: #dc2626;
  z-index: 51;
}

.match-card.soldout .thumbnail::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 50;
}
